<form method="POST" action="/agendar">
    <label for="tutor_user_idUser">Selecciona un tutor:</label>
    <select name="tutor_user_idUser" required>
        <option value="">-- Selecciona un tutor --</option>
        {% for tutor in tutors %}
        <option value="{{ tutor.idUser }}">{{ tutor.name }}</option>
        {% endfor %}
    </select>

    <label for="scheduledDate">Fecha:</label>
    <input type="date" name="scheduledDate" required>

    <label for="slootTime_idSlootTime">Selecciona un horario:</label>
    <select name="slootTime_idSlootTime" required>
        <option value="">-- Selecciona un horario --</option>
        {% for slot in slot_times %}
        <option value="{{ slot.idSlotTime }}">{{ slot.startTime }} - {{ slot.endTime }}</option>
        {% endfor %}
    </select>

    <button type ="sumit">Agendar</button>  
</form>